{% extends 'base.html' %}

{% block content %}
<!-- Title -->
<div class="row">
    <div class="col text-center">
        <h1>Welcome to TweetMe2</h1>
    </div>
</div>
<!-- ends here-->

<!-- This Section is the form for creating tweets-->
<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form method="POST" action="/create-tweet" class="form" id='tweet-create-form'> 
            {% csrf_token %}
            <div class="d-none alert alert alert-danger" id="tweet-create-form-error"></div>
            <input type="hidden" name="next" value="/">
            <textarea name="content" placeholder="Your Tweet"
            class="form-control" required="required"></textarea>
            <button type='submit' class='btn btn-secondary'>Tweet</button>
        </form>
    </div>
</div>
<!-- ends Here -->

<!--- Container for TweetList -->
<div id="container" class="row">
    This gets replaced!!
</div>
<!-- ends Here -->

<script>
//------------------------------------------------------------------------------------------------------------
    // FormError Handling.
    function handleTweetFormError(msg, display) {
        var myErrorDiv = document.getElementById('tweet-create-form-error');
        if (display===true) {
            myErrorDiv.setAttribute("class", "d-block alert alert-danger");
            myErrorDiv.innerHTML = msg;
        } else {
            myErrorDiv.setAttribute("class", "d-none alert alert-danger");
        }
    }
//------------------------------------------------------------------------------------------------------------
    // Formating Tweets.
    function formatedTweet(tweet) {
        var currenttweet = "<div class='border rounded col-12 col-md-10 py-3 mb-4 tweet mx-auto'><p>" +
        tweet.id + "</p>" + "<p>" + tweet.content + "</p>" + createButton(tweet) + "</div>";
        return currenttweet;
    }

//------------------------------------------------------------------------------------------------------------
    // Submit Tweet EventHandler.
    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault();
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const responseType = "json";

        /* Creating XMLHttpRequest() */
        const xhr = new XMLHttpRequest()
        xhr.responseType = responseType;
        xhr.open(method, url)
        /* Ajax setting up */
        /* setting up headers for django to find this ajax request */
        xhr.setRequestHeader("HTTP_X_REQUESTED_WTIH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-with", "XMLHttpRequest");

        xhr.onload = function() {
            if (xhr.status === 201) {
                handleTweetFormError("", false);
                const newJsonResponse = xhr.response;
                const newTweetElement = formatedTweet(newJsonResponse);
                const ogHTML = tweetContainerElement.innerHTML;
                tweetContainerElement.innerHTML = newTweetElement + ogHTML;
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response;
                const contentError = errorJson['content'];
                let contentErrorMessage;
                if (contentError) {
                    contentErrorMessage = contentError[0];
                    if (contentErrorMessage) {
                        handleTweetFormError(contentErrorMessage, true);
                    } else {
                        alert("An error occured. Please try later.");
                    }
                } else {
                    alert("An error occured. Please try later.");
                }
            } else if (xhr.status === 500) {
                alert("There was a server error, Please try again.");
            }
        }
        xhr.onerror = function() {
            alert("An Error Occurred. Please try later.")
        }
        xhr.send(myFormData);
    }
    const tweetCreateFormEl = document.getElementById('tweet-create-form')
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

//------------------------------------------------------------------------------------------------------------
    // For TweetContainer
    const tweetContainerElement = document.getElementById('container');
    function loadTweets(tweetElement) {
        const xhr = new XMLHttpRequest(); // This is declaring a new class.
        const method = 'GET'; //POST The method used.
        const url = '/tweets'; // On which URL.
        const responseType = 'json'; // What is the response type.

        // Initializing the object.
        xhr.responseType = responseType;
        xhr.open(method, url)
        var finalTweet = "";
        // Onload of the doc. Perform this action.
        xhr.onload = function() {
            const serverResponse = xhr.response
            const tweet_list = serverResponse.response // Array.
            var i;
            for(i=0; i<tweet_list.length; i++){
                finalTweet += formatedTweet(tweet_list[i]);
            }
            tweetElement.innerHTML = finalTweet ;
        }
        xhr.send()
    }
    // Calling funtion for creating the TweetContainer.
    loadTweets(tweetContainerElement);

//------------------------------------------------------------------------------------------------------------
    // Like Button
    function createButton(tweet) {
        var newbutton = "<button class='btn btn-primary' onclick=''" + 
         " >" + tweet.likes + "Likes" +"</button>";
        return newbutton;
    }

/*
    function buttonClicked(tweet) {
        console.log(tweet.likes);
    }
*/
//------------------------------------------------------------------------------------------------------------

</script>
{% endblock %}